body {
    font-family: Arial, sans-serif;
    background-color:#ffbf005e;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #000000;
}

form {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 65%; /* Adjusted for laptop view */
    margin: 20px auto;
    position: relative;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}
.question-description {
    font-size: 14px;
    color: #555555; /* Light black (gray) */
    margin-bottom:5px;
}
.question {
    margin-bottom: 20px;
}

.question .required {
    color: red;
}

.radio-group {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.radio-group label {
    margin-right: 20px;
    font-size: 14px;
    color: #555;
}

.radio-group input {
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add space between last input field and buttons */
}

.button-container button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #357ABD;
}

.button-container .prev-btn {
    background-color: #d83934;
    color:#fff
}

.button-container .prev-btn:hover {
    background-color: #c9302c;
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.custom-alert-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-alert-btn {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-alert-btn:hover {
    background-color: #357ABD;

}